@model WebApplicationLighting.Sections

@{
    ViewData["Title"] = "Details";
}

<h2>Просмотр</h2>

<div>
    <h4>Секции</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BeginAndEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BeginAndEnd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SectionName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SectionName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Street.StreetId)
        </dd>
    </dl>
</div>
<div>
   
    <a asp-action="Index"style="color:darkorange">Вернуться</a>
</div>
