@using WebApplicationLighting.ViewModels;
@model LampsViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Сведение о Лампах</h2>

<form method="get">
    <div class="form-inline">
        <label class="control-label">Название Ламп: </label>
        @Html.TextBox("lampName", Model.FilterViewModel.SelectedLampName, htmlAttributes: new { @class = "form-control" })

        <label class="control-label">Тип Ламп: </label>
        @Html.TextBox("lampType", Model.FilterViewModel.SelectedLampType,
                htmlAttributes: new { @class = "form-control" })

        <label class="control-label">Срок Службы: </label>
        
        @Html.TextBox("lifetime", Model.FilterViewModel.SelectedLifeTime, htmlAttributes: new { @class = "form-control" })
        <br>
        <br>
        <label class="control-label">Мощность: </label>
        @Html.TextBox("power", Model.FilterViewModel.SelectedPower, htmlAttributes: new { @class = "form-control" })

        <label class="control-label">Название Улицы: </label>
        @Html.TextBox("streetName", Model.FilterViewModel.SelectedStreetName, htmlAttributes: new { @class = "form-control" })
        <br>
        <br>
        <label class="control-label">Название Секции: </label>
        @Html.TextBox("sectionName", Model.FilterViewModel.SelectedSectionName, htmlAttributes: new { @class = "form-control" })

        <input type="submit" value="Поиск" class="btn btn-default" />
    </div>
</form>

@if (Model.Users.FirstOrDefault(x => x.Email == User.Identity.Name).IsAdmin)
{
    <p>
        <a asp-action="Create"style="color:darkorange">Создать новый</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.LampNameAscSort)"
                   asp-route-lampName="@(Model.FilterViewModel.SelectedLampName)"
                   asp-route-LampType="@(Model.FilterViewModel.SelectedLampType)"
                   asp-route-lifetime=" @(Model.FilterViewModel.SelectedLifeTime)"
                   asp-route-power="@(Model.FilterViewModel.SelectedPower)"style="color:darkorange">Название Ламп</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.LampTypeAscSort)"
                   asp-route-lampName="@(Model.FilterViewModel.SelectedLampName)"
                   asp-route-LampType="@(Model.FilterViewModel.SelectedLampType)"
                   asp-route-lifetime=" @(Model.FilterViewModel.SelectedLifeTime)"
                   asp-route-power="@(Model.FilterViewModel.SelectedPower)"style="color:darkorange">Тип Ламп</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.LifeTimeAscSort)"
                   asp-route-lampName="@(Model.FilterViewModel.SelectedLampName)"
                   asp-route-LampType="@(Model.FilterViewModel.SelectedLampType)"
                   asp-route-lifetime=" @(Model.FilterViewModel.SelectedLifeTime)"
                   asp-route-power="@(Model.FilterViewModel.SelectedPower)"style="color:darkorange">Срок Службы</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.PowerAscSort)"
                   asp-route-lampName="@(Model.FilterViewModel.SelectedLampName)"
                   asp-route-LampType="@(Model.FilterViewModel.SelectedLampType)"
                   asp-route-lifetime=" @(Model.FilterViewModel.SelectedLifeTime)"
                   asp-route-power="@(Model.FilterViewModel.SelectedPower)"style="color:darkorange">Мощность</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Lamps) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LampName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LampType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LifeTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Power)
            </td>
            <td>
                 @if (Model.Users.FirstOrDefault(x => x.Email == User.Identity.Name).IsAdmin)
                {
                    <p>
                        <a asp-action="Edit" asp-route-id="@item.LampId"style="color:darkorange">Изменениеь</a> |
                        <a asp-action="Delete" asp-route-id="@item.LampId"style="color:darkorange">Удаление</a>
                    </p>
                }
                <a asp-action="Details" asp-route-id="@item.LampId"style="color:darkorange">Просмотр</a>
            </td>
        </tr>
}
    </tbody>
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-lampName="@(Model.FilterViewModel.SelectedLampName)"
       asp-route-lampType="@(Model.FilterViewModel.SelectedLampType)"
       asp-route-lifeTime="@(Model.FilterViewModel.SelectedLifeTime)"
       asp-route-power="@(Model.FilterViewModel.SelectedPower)"
       asp-route-streetName="@(Model.FilterViewModel.SelectedStreetName)"
       asp-route-sectionName="@(Model.FilterViewModel.SelectedSectionName)"
       asp-route-sortOrder="@(Model.SortViewModel.Current)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-lampName="@(Model.FilterViewModel.SelectedLampName)"
       asp-route-lampType="@(Model.FilterViewModel.SelectedLampType)"
       asp-route-lifeTime="@(Model.FilterViewModel.SelectedLifeTime)"
       asp-route-power="@(Model.FilterViewModel.SelectedPower)"
       asp-route-streetName="@(Model.FilterViewModel.SelectedStreetName)"
       asp-route-sectionName="@(Model.FilterViewModel.SelectedSectionName)"
       asp-route-sortOrder="@(Model.SortViewModel.Current)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}