@model WebApplicationLighting.StreetLightings

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>StreetLightings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CountLantern)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountLantern)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Failure)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Failure)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lamp.LampId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lantern)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lantern.LanternId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Section)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Section.SectionId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StreetLightingId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
