@using WebApplicationLighting.ViewModels
@model StreetLightingsViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Освещение Улиц</h2>

<form method="get">
    <div class="form-inline">
        <label class="control-label">Кол-во Светильников: </label>
        @Html.TextBox("countLantern", Model.FilterViewModel.SelectedCountLantern, htmlAttributes: new { @class = "form-control" })

        <label class="control-label">Дата выхода из строя: </label>
        @Html.TextBox("failure", Model.FilterViewModel.SelectedFailure, htmlAttributes: new { @class = "form-control" })

        <label class="control-label">Название Лампы: </label>
        @Html.TextBox("lampName", Model.FilterViewModel.SelectedLampName, htmlAttributes: new { @class = "form-control" })
        
        <br><label class="control-label">Название Светильника: </label>
        @Html.TextBox("lanternName", Model.FilterViewModel.SelectedLanternName, htmlAttributes: new { @class = "form-control" })
        
        <label class="control-label"><br>Название Секции: </label>
        @Html.TextBox("sectionName", Model.FilterViewModel.SelectedSectionName, htmlAttributes: new { @class = "form-control" })

        <label class="control-label">Название Улицы: </label>
        @Html.TextBox("streetName", Model.FilterViewModel.SelectedStreetName, htmlAttributes: new { @class = "form-control" })
       
        <input type="submit" value="Поиск" class="btn btn-default" />
    </div>
</form>
@*if (Model.Users.FirstOrDefault(x => x.Email == User.Identity.Name).IsAdmin)
{*@
    <p>
        <a asp-action="Create"style="color:darkorange">Создать новый</a>
    </p>
@*}*@
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.CountLanternAscSort)"
                   asp-route-countLantern="@(Model.FilterViewModel.SelectedCountLantern)"
                   asp-route-failure="@(Model.FilterViewModel.SelectedFailure)"
                   asp-route-lampName=" @(Model.FilterViewModel.SelectedLampName)"
                   asp-route-lanternName=" @(Model.FilterViewModel.SelectedLanternName)"
                   asp-route-sectionName=" @(Model.FilterViewModel.SelectedSectionName)"style="color:darkorange">Кол-во Светильников</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.FailureAscSort)"
                   asp-route-countLantern="@(Model.FilterViewModel.SelectedCountLantern)"
                   asp-route-failure="@(Model.FilterViewModel.SelectedFailure)"
                   asp-route-lampName=" @(Model.FilterViewModel.SelectedLampName)"
                   asp-route-lanternName=" @(Model.FilterViewModel.SelectedLanternName)"
                   asp-route-sectionName=" @(Model.FilterViewModel.SelectedSectionName)"style="color:darkorange">Дата выхода из строя</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.LampNameAscSort)"
                   asp-route-countLantern="@(Model.FilterViewModel.SelectedCountLantern)"
                   asp-route-failure="@(Model.FilterViewModel.SelectedFailure)"
                   asp-route-lampName=" @(Model.FilterViewModel.SelectedLampName)"
                   asp-route-lanternName=" @(Model.FilterViewModel.SelectedLanternName)"
                   asp-route-sectionName=" @(Model.FilterViewModel.SelectedSectionName)"style="color:darkorange">Название Лампы</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.LanternNameAscSort)"
                   asp-route-countLantern="@(Model.FilterViewModel.SelectedCountLantern)"
                   asp-route-failure="@(Model.FilterViewModel.SelectedFailure)"
                   asp-route-lampName=" @(Model.FilterViewModel.SelectedLampName)"
                   asp-route-lanternName=" @(Model.FilterViewModel.SelectedLanternName)"
                   asp-route-sectionName=" @(Model.FilterViewModel.SelectedSectionName)"style="color:darkorange">Название Светильника</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.SectionNameAscSort)"
                   asp-route-countLantern="@(Model.FilterViewModel.SelectedCountLantern)"
                   asp-route-failure="@(Model.FilterViewModel.SelectedFailure)"
                   asp-route-lampName=" @(Model.FilterViewModel.SelectedLampName)"
                   asp-route-lanternName=" @(Model.FilterViewModel.SelectedLanternName)"
                   asp-route-sectionName=" @(Model.FilterViewModel.SelectedSectionName)"style="color:darkorange">Название Секции</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.StreetLightings) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CountLantern)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Failure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lamp.LampName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lantern.LanternName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Section.SectionName)
            </td>
            <td>
                @if (Model.Users.FirstOrDefault(x => x.Email == User.Identity.Name).IsAdmin)
                {
                    <p>
                        <a asp-action="Edit" asp-route-id="@item.StreetLightingId"style="color:darkorange">Изменение</a> |
                        <a asp-action="Delete" asp-route-id="@item.StreetLightingId"style="color:darkorange">Удаление</a>
                    </p>
                }
                <a asp-action="Details" asp-route-id="@item.StreetLightingId"style="color:darkorange">Просмотр</a>
            </td>
        </tr>
}
    </tbody>
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-streetLighting="@(Model.FilterViewModel.streetLightings)"
       asp-route-countLantern="@(Model.FilterViewModel.SelectedCountLantern)"
       asp-route-failure="@(Model.FilterViewModel.SelectedFailure)"
       asp-route-lampName="@(Model.FilterViewModel.SelectedLampName)"
       asp-route-lanternName="@(Model.FilterViewModel.SelectedLanternName)"
       asp-route-sectionName="@(Model.FilterViewModel.SelectedSectionName)"
       asp-route-streetName="@(Model.FilterViewModel.SelectedStreetName)"
       asp-route-sortOrder="@(Model.SortViewModel.Current)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-streetLighting="@(Model.FilterViewModel.streetLightings)"
       asp-route-countLantern="@(Model.FilterViewModel.SelectedCountLantern)"
       asp-route-failure="@(Model.FilterViewModel.SelectedFailure)"
       asp-route-lampName="@(Model.FilterViewModel.SelectedLampName)"
       asp-route-lanternName="@(Model.FilterViewModel.SelectedLanternName)"
       asp-route-sectionName="@(Model.FilterViewModel.SelectedSectionName)"
       asp-route-streetName="@(Model.FilterViewModel.SelectedStreetName)"
       asp-route-sortOrder="@(Model.SortViewModel.Current)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}